.connect_cafe
  .connect_cafe_container
    .connect_cafe_innr
      %a{:href => "/connect"}
        %h2 Connect With Our Social Café

        / LightWidget WIDGET
        %script{:src => "//lightwidget.com/widgets/lightwidget.js"}
        %iframe.lightwidget-widget{:allowtransparency => "true", :scrolling => "no", :src => "//lightwidget.com/widgets/3593d5d5653f5ad8848823e087e3fcc5.html", :style => "width: 100%; border: 0; overflow: hidden;"}

